<div
	#listItem
	class="post-list-item"
	imageObserve
	[threshold]="0.1"
	(isAppearing)="isAppearing($event)"
	(isDisappearing)="isDisappearing($event)">
	<div class="list-item-header">
		<i *ngIf="!thumbnail" class="fa-solid fa-spinner"></i>
		<img *ngIf="thumbnail" [src]="thumbnail" class="profile-image" />
		<p>{{ item.author }}</p>
	</div>
	<img class="post-image" *ngIf="!(image || thumbnail)" src="assets/images/default.png" [alt]="item.author" />
	<img class="post-image" *ngIf="image || thumbnail" [src]="image || thumbnail" [alt]="item.author" />
</div>
